/* 
 * Note: dialog css for mobile
 * Version: 1.0.1
 * date:2015/07/28
 */
[class*=embed-btn]{-webkit-user-select:none;-webkit-box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);cursor:pointer;overflow:hidden;position:relative;display:block;width:100%;text-align:center;vertical-align:top;text-decoration:none;font-weight:700}
.embed-btn-mod{border:0 none;color:#0079ff;background:0;margin:0}
.embed-btn-mod:active{background:#d9d9d9}
.mod-dialog{position:fixed;top:0;right:0;bottom:0;left:0;z-index:900000;background-color:rgba(0,0,0,0.4)}
.pop-container{display:inline-block; position:fixed; left:50%; top:45%; z-index:1000000;}
.mod-dialog-content{box-sizing:border-box;text-align:left;width:270px;min-height:80px;background-color:#FFF;border-radius:6px;
-webkit-animation:zoomIn .3s 0s ease both;
animation:zoomIn .3s 0s ease both;}
.mod-dialog-content .mod-inner{font-size:14px;color:#3a3a3a;border-bottom:#c8c7cc 1px solid;background-image:none;padding:14px;}
.mod-dialog-content .mod-inner .mod-tit{font-size:18px;font-weight:500; text-align:center; padding-bottom:3px;}
.mod-dialog-content .mod-inner .mod-txt{padding-top:2px;}
.mod-dialog-content .mod-btn{display:0}
.mod-dialog-content .mod-btn button{box-sizing:border-box;font-size:16px;line-height:27px;box-flex:1;-webkit-box-flex:1;border-right:#c8c7cc 1px solid;background-image:none;padding:8px 10px}
.mod-dialog-content .mod-btn button:last-child{border-right:0}
.mod-dialog-content .mod-btn button:active{background:rgba(0,0,0,.1)}
.mod-dialog-content .mod-btn{display:box;display:-webkit-box;}
.mod-dialog-notice-container{width:130px;height:110px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:center;text-align:center;background:rgba(0,0,0,0.65);border-radius:6px;color:#fff;}
.mod-dialog-loading-white{width:37px;height:37px;display:block;background-image:url(../images/loading_sprite_white.png);background-size:auto 37px;-webkit-animation:rotate2 1s steps(12) infinite;}

.mod-dialog-toast{position:fixed; z-index:9999; top:auto; right:auto; bottom:20%; left:0; width:100%; text-align:center; 
-webkit-animation:fadeInOutUp 3s .2s ease both;
-moz-animation:fadeInUp 3s .2s ease both;}
.mod-dialog-toast span{display:inline-block; padding:5px 20px; min-height:22px; line-height:22px; font-size:14px; color:#efefef; text-align:center; border-radius:5px; background:rgba(0,0,0,.7); box-shadow:0 5px 8px rgba(0,0,0,.2);}
/**/
@-webkit-keyframes fadeInOutUp{
  0%{opacity:0; -webkit-transform:translateY(20px)}
  20%{opacity:1;-webkit-transform:translateY(0)}
  80%{opacity:1;-webkit-transform:translateY(0)}
  100%{opacity:0; -webkit-transform:translateY(20px)}
}
@-moz-keyframes fadeInOutUp{
  0%{opacity:0;-moz-transform:translateY(20px)}
  20%{opacity:1;-moz-transform:translateY(0)}
  80%{opacity:1;-moz-transform:translateY(0)}
  100%{opacity:0;-moz-transform:translateY(20px)}
}

@media screen and -webkit-min-device-pixel-ratio20{
  .mod-dialog-content .mod-txt{background:0 left bottom repeat-x;border-bottom:0;background-size:100% 1px;-wekit-background-size:100% 1px}
  .mod-dialog-content .mod-btn button{background:0 right top repeat-y;border-right:0;background-size:1px 100%;-wekit-background-size:1px 100%}
  .mod-dialog-content .mod-btn button:last-child{background-image:none}
}


@-webkit-keyframes zoomIn{
  0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);}
  50%{opacity: 1;}
}
@keyframes zoomIn {
  0% {opacity: 0;transform: scale3d(.3, .3, .3);}
  50%{opacity: 1;}
}

@-webkit-keyframes rotate2{
  from{background-position:0 0;}
  to{background-position:-444px 0;}
}