<style>
    .done-true {
        text-decoration: line-through;
        color: grey;
    }
</style>

<div ng-controller="HomeCtrl">
    <h2>To-do List</h2>
    <hr/>
    <div>{{remaining()}} of {{total}} 已选中元素的个数 <button ng-click="archive()">archive</button></div>
    <ul ng-repeat="todo in todos">
        <li class="done-{{todo.done}}">
            <input type="checkbox" ng-model="todo.done"> {{todo.name}}
        </li>
    </ul>
    <form action="#">
        <input type="text" ng-model="newTodo" placeholder="请输入城市名称">
        <input type="button" value="add" ng-click="addTodo()">
    </form>
</div>